Adapters/ERP.OutcomeJobRunner/Connected Services/OutcomeService/OutcomeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ERP.OutcomeService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ERP.OutcomeService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDS_Outcome">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DS_Outcome" nillable="true" type="tns:DS_Outcome" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDS_Outcome" nillable="true" type="tns:ArrayOfDS_Outcome" />
  <xs:complexType name="DS_Outcome">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DS_OutcomeItems" nillable="true" type="tns:ArrayOfDS_OutcomeItems" />
      <xs:element minOccurs="0" name="ExternalDocDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DS_Outcome" nillable="true" type="tns:DS_Outcome" />
  <xs:complexType name="ArrayOfDS_OutcomeItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DS_OutcomeItems" nillable="true" type="tns:DS_OutcomeItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDS_OutcomeItems" nillable="true" type="tns:ArrayOfDS_OutcomeItems" />
  <xs:complexType name="DS_OutcomeItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="DS_Outcome" nillable="true" type="tns:DS_Outcome" />
      <xs:element minOccurs="0" name="DS_OutcomeID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="OperationalDay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductUnitID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DS_OutcomeItems" nillable="true" type="tns:DS_OutcomeItems" />
</xs:schema>