WebApi/ERP.WebApi/Connected Services/ErpStockService/StockService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62946/StockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ERP.StockService" />
  <xs:element name="GetIncomePriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncomePriceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ERP.StockService" minOccurs="0" name="GetIncomePriceListResult" nillable="true" type="q1:ArrayOfDS_IncomePrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>